<div class="container">
  <div class="jumbotron">
    <h1 class="display-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Inicio</font></font></h1>
    <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Esto es una pequeña demostracion de algunos Pokemones</font></font></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/pokemones']" role="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver Pokemones</font></font></a>
    </p>
  </div>
</div>