<div class="page-header bg-">
  <h1>Pokemones</h1>
</div>
<div class="row">
  <div class="col-md-3 mb-4" *ngFor="let pokemon of pokemon">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" [routerLink]="['/pokeinfo',pokemon.id]">
        <img class="img-responsive text-center1" src="../../../assets/img/{{pokemon.imagen}}" alt="">
      </a>
      <a class="list-group-item list-group-item-action active text-center" [routerLink]="['/pokeinfo',pokemon.id]">
         {{pokemon.nombre}}
        </a>
    </div>
  </div>
</div>